---
import LinkButton from './forms/LinkButton.astro'
---

<section id="get-started" class="mt-40">
  <div
    class="bg-base-300 ronuded-rounded-3xl max-w-[1400px] rounded rounded-xl p-8 mx-auto min-h-[250px] flex items-center flex justify-between px-40"
  >
    <h2 class="text-3xl font-bold max-w-[30ch]">
      Join us in shaping tomorrow's AI innovations <span class="underline">today</span>.
    </h2>
    <div>
      <LinkButton href="/contact" class="">Let's get started</LinkButton>
    </div>
  </div>
</section>
