---
const { question } = Astro.props
---

<div class="collapse collapse-arrow bg-base-200 join-item">
  <input type="radio" name="faqs" />
  <div class="collapse-title text-xl font-medium">
    {question}
  </div>
  <div class="collapse-content">
    <slot />
  </div>
</div>
