---
import Brand from './Brand.astro'
import NavLinks from './NavLinks.astro'
import LinkButton from './forms/LinkButton.astro'
---

<nav class="flex px-4 md:px-2 py-6 md:py-8 max-w-[1400px] justify-between mx-auto text-xl items-center">
  <Brand />
  <div class="hidden lg:block">
    <NavLinks />
  </div>
  <LinkButton class="hidden lg:flex">Let's Talk</LinkButton>
  <label for="mobile-menu" class="btn btn-sm btn-ghost lg:hidden">
    <svg
      class="w-8 h-8 text-white"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z"></path>
      <line x1="4" y1="6" x2="20" y2="6"></line>
      <line x1="4" y1="12" x2="20" y2="12"></line>
    </svg>
  </label>
</nav>
