---
import LinkButton from './forms/LinkButton.astro'
---

<nav class="flex px-32 py-6 max-w-[1600px] justify-between mx-auto text-xl items-center">
  <a href="/" class="text-xl font-bold text-white">UN<span class="opacity-60">COMMON</span></a>
  <ul class="flex gap-4">
    <li>
      <a href="/" class="btn btn-sm btn-ghost rounded-btn capitalize text-base rounded rounded-full">Home</a>
    </li>
    <li>
      <a href="/" class="btn btn-sm btn-ghost rounded-btn capitalize text-base rounded rounded-full">Services</a>
    </li>
    <li>
      <a href="/" class="btn btn-sm btn-ghost rounded-btn capitalize text-base rounded rounded-full">About</a>
    </li>
    <li>
      <a href="/" class="btn btn-sm btn-ghost rounded-btn capitalize text-base rounded rounded-full">Work</a>
    </li>
  </ul>
  <LinkButton>Let's Talk</LinkButton>
</nav>
