<ul class="menu lg:menu-horizontal flex gap-4 font-semibold text-[1.1rem] flex">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/">About</a>
  </li>
  <li class="text-[1.1rem]">
    <details style="z-index: 1000;">
      <summary class="">Services</summary>
      <ul class="p-2 lg:bg-base-100 lg:w-[420px] lg:shadow-xl">
        <li><a href="/capabilities/workflow-automation">Workflow Automation</a></li>
        <li><a href="/capabilities/data-analytics-and-machine-learning">Data Analytics/Machine Learning</a></li>
        <li><a href="/capabilities/nlp">Natural Language Processing</a></li>
        <li><a href="/capabilities/generative-ai">Generative AI</a></li>
      </ul>
    </details>
  </li>
  <li class="text-[1.1rem]">
    <details style="z-index: 1000;">
      <summary class="">Capabilities</summary>
      <ul class="p-2 lg:bg-base-100 lg:w-[420px] lg:shadow-xl">
        <li><a href="/capabilities/workflow-automation">Workflow Automation</a></li>
        <li><a href="/capabilities/data-analytics-and-machine-learning">Data Analytics/Machine Learning</a></li>
        <li><a href="/capabilities/nlp">Natural Language Processing</a></li>
        <li><a href="/capabilities/generative-ai">Generative AI</a></li>
      </ul>
    </details>
  </li>
  <li>
    <a href="/">Work</a>
  </li>
</ul>
