---
const { class: extendedClass, ...props } = Astro.props
---

<div
  class="card bg-base-100 shadow-xl h-[140px] md:h-[200px] p-8 justify-center items-center"
  data-aos="fade-in"
  data-aos-delay="300"
  data-aos-easing="ease-in-sine"
>
  <div class="opacity-60 w-[180px] md:w-[80%] flex justify-center">
    <img class={`max-h-[50px] md:max-h-[75px] max-w-[150px] md:max-w-[200px] ${extendedClass}`} {...props} />
  </div>
</div>
