---
const { label } = Astro.props
---

<div
  class="flex-1 flex flex-col justify-center items-center text-center gap-2"
  data-aos="fade-in"
  data-aos-easing="ease-in-sine"
>
  <div
    class="w-24 h-24 flex justify-center items-center rounded rounded-lg bg-base-200 shadow-xl bg-gradient-to-bl from-[rgba(0,0,0,0.2)] to-transparent"
  >
    <img src="/images/icons/cpu.svg" alt={label} class="w-12 opacity-60" />
  </div>
  <h3 class="text-xl md:text-2xl font-bold mt-4 text-white">{label}</h3>
  <p class="text-sm md:text-base max-w-[350px] mx-auto">
    <slot />
  </p>
</div>
