---
const { label, class: extendedClass, delay = '100' } = Astro.props
---

<div
  class={`card bg-base-100 shadow-xl p-4 card-side gap-4 ${extendedClass}`}
  data-aos="fade-right"
  data-aos-delay={delay}
  data-aos-easing="ease-in-sine"
>
  <div>
    <div class="bg-base-300 w-12 h-12 rounded rounded-lg flex items-center justify-center">
      <img src="/images/cpu.svg" alt="" class="w-6 h-6 opacity-60" />
    </div>
  </div>
  <div>
    <h3 class="text-lg font-semibold text-accent-content leading-6">{label}</h3>
    <p class="text-sm md:text-base pt-2">
      <slot />
    </p>
  </div>
</div>
