---
const { class: extendedClass, ...props } = Astro.props
---

<a
  href=""
  class={`btn capitalize text-lg bg-accent-content text-base-300 rounded rounded-full hover:text-accent-content ${extendedClass}`}
  {...props}
>
  <slot />
</a>
